<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0;">
    <meta name="theme-color" content="#424242">
    <title>Just搜搜信息检索能力大赛</title>
    <link rel="stylesheet" href="/static/JustSearch/icons.css">
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?fb8bce4e61493cb2602b43fe306ae8c7";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body
        style='padding-top: 4rem;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu,serif; background-color: #eeeeee'>
{% csrf_token %}

<div id="app">
    <div style="text-align: center;padding-top: 30px">
        <img src="/static/JustSearch/loading.gif" alt="正在加载。。。">
        <h4>加载中......</h4>
        <h4>注：请不要使用IE浏览器打开，请使用FireFox/QQ</h4>
    </div>
</div>


<script>
    const debug = false;
    var isLogin = true;
    localStorage.setItem("msg", "{{ msg }}");
    var msg;
    {% if msg %}
        msg = true;
    {% else %}
        msg = false;
    {% endif %}
    var userInfo = {
        id: 1,
        name: "null",
        qq: "null",
        tel: "null",
        score: 0,
        team: {
            id: 1,
            name: "null",
            score: 101,
            leader: "null",
            mems: [{id: 2, name: "null"}, {id: 1, name: "null"}]
        }
    };

    console.log("JustSearch-V1.1");
    console.log("同学，既然你点开了这里，你一定非同凡响，如果你是18级的同学，计算机学院欢迎你！如果你已经是我们的人了，那么你一定十分优秀，上海大学计算机学院学生会欢迎你的加入！");
    console.error('联系方式：学生会公邮our_cs@163.com');
    console.log("               ——来自计算机学院学生会学术部部长的盛情邀请~")
</script>
<script src="/static/JustSearch/build.js"></script>

</body>

</html>

